body{
    background-color: #0A0A0A;
    color: rgb(148, 148, 148);
    accent-color: #FFD700;
    font-family: 'Inter',sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
}
nav{
    display: flex;
    gap: 20px;
    flex-direction: row;
    float: top;
}
nav a{
    color: #FFD700;
    text-decoration: none;
}
h1{
    color: #FFD700;

}
img{
    width: 200px;
    border-radius: 20px;
    float: right;
}
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: #1a1a2e;
    border-radius: 35px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}
input :checked + .slider {
    background-color: #2d2d44;
}
input:checked +.slider:before{
    transform: translateX(35px);
}
.icon{
    margin-left: auto;
    font-family: 16px;
    z-index: 1;
}
@media(max-width: 600px){
    body{
        padding: 10px;
    }
    img{
        float: none;
        width: 100%;
        margin: 0;
    }
    nav{
        flex-direction: column;
        gap: 8px;
    }
    table{
        font-size: 12px;
    }
}